@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  min-width: 320px;
}
body {
  font-family: 'Montserrat', Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
  color: black;
}
a {
  cursor: pointer;
  text-decoration: none;
}
button {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  border: none;
  cursor: pointer;
}
ul {
  list-style-type: none;
  padding: 0;
}
.headline {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 800;
  text-align: center;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home {
  min-height: 100vh;
  background: url('../images/ETEC\ -\ CABINET\ DENTAIRE\ -\ ATUR\ -\ BATIMENT-002.jpg') no-repeat center;
  background-size: cover;
  z-index: -1;
  top: 0;
  position: sticky;
}
.home-container {
  flex-direction: column;
  min-height: 100vh;
  padding: 0px 12px;
  background: linear-gradient(to bottom, #90ee9077, #005E93);
  color: white;
}
.home-container__headline {
  font-size: 5.7em;
  font-weight: 800;
}
.home-container__headline--alt {
  display: inline-block;
  max-width: 400px;
  text-transform: none;
  font-size: 0.3em;
  font-weight: 500;
  line-height: 1.4em;
}
.home-container__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-container__text--name {
  padding: 12px 24px;
  margin: 54px 24px 0px 24px;
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
  background: #ffffff77;
  border: solid 1.5pt #ffffff77;
  box-shadow: 4px 4px 20px #00000044;
}
  @media screen and (max-width: 700px) {
    .home-container {
      padding-top: 70px;
    }
    .home-container__headline {
      font-size: 4em;
    }
    .home-container__headline--alt {
      font-size: 0.3em;
    }
    .home-container__text {
      flex-direction: column;
      align-items: unset;
      justify-content: flex-start;
    }
    .home-container__text--name {
      margin: 12px;
      font-size: 1em;
    }
  }

.welcome {
  height: 70vh;
  background: url('../images/ETEC\ -\ CABINET\ DENTAIRE\ -\ ATUR\ -\ BATIMENT-001.jpg') no-repeat center;
  background-size: cover;
  box-shadow: 0px -4px 20px #000000aa;
}
.welcome-container {
  height: 70vh;
  background: #ffffff77;
  padding: 0px 12px;
}
.welcome-container__headline {
  padding: 24px;
  max-width: 440px;
  text-align: center;
  background: #ffffffaa;
  backdrop-filter: blur(7px);
  border: solid 10px white;
  box-shadow: 4px 4px 20px #000000aa;
  font-size: 1.77em;
  font-weight: 400;
  line-height: 1.3em;
}
.welcome-container__headline--alt {
  font-weight: 700;
}
  @media screen and (max-width: 700px) {
    .welcome-container__headline {
      padding: 12px;
      font-size: 1.47em;
    }
  }

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
  background: #f4f4f4;
}
.about-container {
  margin: 47px 0px;
}
.image {
  position: relative;
  z-index: 0;
  object-fit: cover;
  width: 370px;
  height: 300px;
  box-shadow: 4px 4px 20px #00000077;
  border: solid 1.5pt white;
}
.about-article {
  position: relative;
  z-index: 4;
  max-width: 370px;
  padding: 24px 34px;
  background: #ffffffdd;
  backdrop-filter: blur(10px);
  border: solid 1.5pt white;
  box-shadow: 4px 4px 20px #00000077;
  text-align: center;
}
.about-article__headline {
  font-size: 1.8em;
}
.line {
  width: 70px;
  height: 4px;
  margin: 12px auto;
  background: #90ee90aa;
}
.about-article__text {
  font-size: 1.14em;
  line-height: 1.7em;
}
.about-article__text li {
  margin: 12px 0;
}
  @media screen and (max-width: 900px) {
    .about-container {
      flex-direction: column;
    }
    .about :nth-child(2) {
      flex-direction: column-reverse;
    }
    .image--crew {
      margin-top: -20px;
    }
    .image--lab {
      margin-top: -20px;
    }
    .about-article--crew {
      margin-bottom: -20px;
    }
    .about-article--lab {
      margin-bottom: -20px;
    }
  }
  @media screen and (min-width: 900px) {
    .image--crew {
      margin-left: -30px;
    }
    .image--lab {
      margin-right: -30px;
    }
    .about-article--crew {
      margin-right: -30px;
    }
    .about-article--lab {
      margin-left: -30px;
    }
  }
  @media screen and (min-width: 600px) {
    .image {
      width: 700px;
      height: 450px;    
    }
  }

.location {
  flex-direction: column;
  padding: 47px 12px;
  background: white;
}
.location__headline {
  font-size: 2.7em;
}
.line--alt {
  width: 100px;
  height: 4px;
  margin-bottom: 36px;
}
iframe {
  width: 100%;
  max-width: 900px;
  height: 500px;
  box-shadow: 4px 4px 20px #00000077;
  border: solid 1.5pt white;
}
  @media screen and (max-width: 700px) {
    .location__headline {
      font-size: 2.1em;
    }
  }

.contact {
  position: relative;
  z-index: 10;
  flex-direction: column;
  padding: 47px 12px;
  background: #f4f4f4;
  background: #8181c7;
}
.contact__headline {
  font-size: 2.4em;
  color: white;
}
.contact-container {
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
}
.contact-card {
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  width: 400px;
  height: 300px;
  padding: 44px;
  background: #ffffff99;
  border: solid 1.5pt white;
  box-shadow: 4px 4px 20px #00000077;
}
.contact-card__button {
  flex-direction: column;
  width: 11em;
  padding: 12px 24px;
  background: #005E93dd;
  box-shadow: 4px 4px 20px #00000077;
  color: white;
  font-size: 1.17em;
  font-weight: 500;
  transition: transform 140ms ease-in-out;
}
.contact-card__button:hover {
  transform: translate(3px, 3px);
}
.contact-card__button a {
  color: white;
}
.contact-card__text {
  font-size: 1.14em;
  font-weight: 700;
  line-height: 1.7em;
  margin-top: 30px;
  max-width: 300px;
}
  @media screen and (max-width: 900px) {
    .contact__headline {
      font-size: 1.7em;
    }
    .contact-container {
      flex-direction: column;
    }
    .contact-card {
      margin: 12px 0;
      max-width: 100%;
    }
  }