@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: 'Roboto', Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
  color: black;
}
a {
  cursor: pointer;
  text-decoration: none;
}
button {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  border: none;
  cursor: pointer;
}
ul {
  list-style-type: none;
  padding: 0;
}
.headline {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 900;
  text-align: center;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home {
  min-height: 100vh;
  background: url('../images/ETEC\ -\ CABINET\ DENTAIRE\ - 007.jpg') no-repeat center;
  background-size: cover;
  position: sticky;
  z-index: -1;
  top: 0;
}
.home-container {
  flex-direction: column;
  min-height: 100vh;
  padding: 0px 12px;
  background: linear-gradient(to bottom, #90eeb7bb, #105ea3ee);
  color: white;
}
.home-container__headline {
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 5.7em;
}
.home-container__headline--alt {
  display: inline-block;
  max-width: 370px;
  font-size: 0.3em;
  font-weight: 400;
  line-height: 1.5em;
}
.home-container__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-container__text--name {
  padding: 10px 20px;
  margin: 54px 24px 0px 24px;
  text-align: center;
  font-size: 1.2em;
  font-weight: 400;
  background: #ffffff77;
  box-shadow: 4px 4px 20px #00000055;
}
@media screen and (max-width: 700px) {
  .home-container {
    padding-top: 70px;
  }
  .home-container__headline {
    font-size: 4em;
  }
  .home-container__headline--alt {
    font-size: 0.3em;
  }
  .home-container__text {
    flex-direction: column;
    align-items: unset;
    justify-content: flex-start;
  }
  .home-container__text--name {
    margin: 12px;
    font-size: 1em;
  }
}
@media screen and (max-width: 330px) {
  .home-container__headline {
    font-size: 3.4em;
  }
  .home-container__headline--alt {
    font-size: 0.3em;
  }
}
.welcome {
  height: 70vh;
  background: url('../images/ETEC\ -\ CABINET\ DENTAIRE\ - 001.jpg') no-repeat center;
  background-size: cover;
  box-shadow: 0px -4px 20px #000000aa;
}
.welcome-container {
  height: 70vh;
  padding: 0px 12px;
  background: #ffffff77;
}
.welcome-container__headline {
  max-width: 440px;
  padding: 24px;
  background: #ffffffbb;
  border: solid 10px white;
  box-shadow: 4px 4px 20px #000000aa;
  backdrop-filter: blur(7px);
  text-align: center;
  font-size: 1.8em;
  font-weight: 400;
  line-height: 1.3em;
}
.welcome-container__headline--alt {
  font-weight: 700;
}
@media screen and (max-width: 700px) {
  .welcome-container__headline {
    padding: 12px;
    font-size: 1.4em;
  }
}
.about {
  flex-direction: column;
  background: #f4f4f4;
}
.about :nth-child(1) {
  flex-direction: row-reverse;
}
.about-container {
  margin: 47px 0px;
}
.about-article {
  position: relative;
  z-index: 4;
  width: 340px;
  padding: 24px 34px;
  background: #ffffffdd;
  box-shadow: 4px 4px 20px #00000077;
  backdrop-filter: blur(10px);
  text-align: center;
}
.about-article__headline {
  font-size: 1.5em;
}
.line {
  width: 70px;
  height: 4px;
  margin: 12px auto;
  background: #90eeb7bb;
}
.about-article__text {
  font-size: 1.1em;
  line-height: 1.4em;
}
.about-article__text li {
  margin: 12px 0;
}
.image {
  position: relative;
  z-index: 0;
  object-fit: cover;
  width: 100%;
  height: 350px;
  box-shadow: 4px 4px 20px #00000077;
}
@media screen and (max-width: 900px) {
  .about-container {
    flex-direction: column;
  }
  .about :nth-child(1) {
    flex-direction: column;
  }    
  .about-article--top {
    margin-bottom: -40px;
  }
  .about-article--bottom {
    margin-bottom: -40px;
  }
}
@media screen and (min-width: 900px) {
  .about-article--top {
    margin-left: -60px;
  }
  .about-article--bottom {
    margin-right: -60px;
  }
}
@media screen and (min-width: 700px) {
  .about-article__headline {
    font-size: 1.7em;
  }
  .about-article__text {
    font-size: 1.2em;
  }
  .image {
    width: 700px;
    height: 450px;    
  }
}
@media screen and (max-width: 330px) {
  .image {
    height: 300px;
  }
}
.location {
  flex-direction: column;
  padding: 47px 12px;
  background: white;
}
.location__headline {
  font-size: 2.3em;
}
.line--alt {
  width: 100px;
  height: 4px;
  margin-bottom: 34px;
}
iframe {
  width: 100%;
  max-width: 900px;
  height: 500px;
  border: none;
  box-shadow: 4px 4px 20px #00000077;
}
@media screen and (max-width: 700px) {
  .location__headline {
    font-size: 2em;
  }
}
@media screen and (max-width: 330px) {
  iframe {
    height: 450px;
  }
}
.contact {
  position: relative;
  z-index: 10;
  flex-direction: column;
  padding: 47px 12px;
  background: #307ec3;
}
.contact__headline {
  font-size: 2.3em;
  color: white;
}
.contact-container {
  justify-content: space-around;
  width: 100%;
  max-width: 1000px;
}
.contact-card {
  flex-direction: column;
  justify-content: flex-start;
  width: 400px;
  height: 300px;
  padding: 40px;
  background: #ffffffcc;
  border: solid 10px white;
  box-shadow: 4px 4px 20px #00000077;
  text-align: center;
}
.contact-card__button {
  flex-direction: column;
  width: 200px;
  padding: 12px 24px;
  background: #333;
  box-shadow: 4px 4px 20px #00000077;
  font-size: 1.2em;
  font-weight: 500;
  transition: transform 140ms ease-in-out;
}
.contact-card__button:hover {
  transform: translate(3px, 3px);
}
.contact-card__button a {
  color: white;
}
.contact-card__text {
  max-width: 240px;
  margin-top: 24px;
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1.5em;
}
@media screen and (max-width: 900px) {
  .contact__headline {
    font-size: 2em;
  }
  .contact-container {
    flex-direction: column;
  }
  .contact-card {
    width: 340px;
    height: 270px;
    margin: 12px 0;
    max-width: 100%;
  }
  .contact-card__button, .contact-card__text {
    font-size: 1.1em;
  }
}
