@font-face {
  font-family: 'Playfair';
  src: url('../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Playfair';
  src: url('../fonts/Playfair_Display/PlayfairDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/Open_Sans/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  min-width: 320px;
}
body {
  font-family: 'Poppins', Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
}
img {
  object-fit: cover;
}
a {
  cursor: pointer;
  text-decoration: none;
}
button {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}
ul {
  list-style-type: none;
  padding: 0;
}
.page {
  width: 100vw;
}
.container {
  z-index: 10;
}
.home {
  min-height: 100vh;
  background: url('../images/bg.jpg') no-repeat center;
  background-size: cover;
}
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #00d48888, #005E93);
  color: white;
  padding: 0 12px;
}
.home-container__headline {
  font-family: 'Playfair', Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 90px;
  font-weight: 700;
}
.home-container__headline--small {
  display: inline-block;
  font-size: 30px;
  font-weight: 400;
  max-width: 500px;
}
.home-container__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-container__text--name {
  font-family: 'OpenSans', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 17px;
  padding: 10px 20px;
  background: #ffffff55;
  border: solid 1.5pt #ffffffaa;
  box-shadow: inset 0 0 30px #ffffffaa;
  margin: 64px 24px 0 24px;
}
@media screen and (max-width: 700px) {
  .home-container {
  padding-top: 70px;
  }
  .home-container__headline {
    font-size: 64px;
  }
  .home-container__headline--small {
    font-size: 20px;
  }
  .home-container__text {
    flex-direction: column;
    align-items: unset;
    justify-content: flex-start;
  }
  .home-container__text--name {
    margin: 12px;
  }
}
.welcome {
  height: 70vh;
  background: url('../images/welcome.jpg') no-repeat center;
  background-size: cover;
}
.welcome-container {
  background: #ffffffaa;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome-container__headline {
  padding: 24px;
  max-width: 500px;
  text-align: center;
  color: #333;
  background: #ffffffaa;
  backdrop-filter: blur(7px);
  font-size: 34px;
  font-weight: 400;
  box-shadow: 4px 4px 30px #00000055;
  margin: 0 12px;
}
.welcome-container__headline--bold {
  font-weight: 600;
}
@media screen and (max-width: 700px) {
  .welcome-container__headline {
    padding: 12px;
    font-size: 27px;
  }
}
.about {
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 48px 12px;
}
.image {
  position: relative;
  z-index: 0;
  object-fit: cover;
  max-width: 570px;
  max-height: 370px;
  box-shadow: 4px 4px 30px #00000077;
  overflow: hidden;
}
@media screen and (max-width: 900px) {
  .about-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about :nth-child(2) {
    flex-direction: column-reverse;
  }
  .about-article {
    margin: 0 12px;
  }
  .image {
    max-width: 100vw;
  }
  .image--crew {
    margin-top: -30px;
  }
  .image--lab {
    margin-top: -30px;
  }
  .about-article--crew {
    margin-bottom: -30px;
  }
  .about-article--lab {
    margin-bottom: -30px;
  }
}
  @media screen and (min-width: 901px) {
    .image--crew {
      margin-left: -30px;
    }
    .image--lab {
      margin-right: -30px;
    }
    .about-article--crew {
      margin-right: -30px;
    }
    .about-article--lab {
      margin-left: -30px;
    }
}
.about-article {
  position: relative;
  z-index: 4;
  text-align: center;
  padding: 24px 36px;
  background: #ffffffdd;
  border: solid 1.5pt white;
  backdrop-filter: blur(10px);
  box-shadow: 4px 4px 30px #00000077;
  max-width: 400px;
}
.about-article__headline {
  font-size: 36px;
  color: #333;
}
.line {
  height: 3px;
  width: 70px;
  background: #00d488aa;
  margin: 12px auto;
}
.about-article__text {
  font-size: 18px;
}
.about-article__text li {
  margin: 12px 0;
}
.find {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px 12px;
  background: white;
}
.find__headline {
  text-align: center;
  font-size: 57px;
  color: #333;
}
.line--big {
  height: 4px;
  width: 100px;
  margin-bottom: 36px;
}
iframe {
  width: 100%;
  max-width: 900px;
  height: 500px;
  border: none;
  box-shadow: 4px 4px 30px #00000066;
  border: solid 1.5pt white;
}
@media screen and (max-width: 700px) {
  .find__headline {
    font-size: 47px;
  }
}
.contact {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
  padding: 48px 12px;
}
.contact__headline {
  text-align: center;
  font-size: 44px;
  color: #333;
}
.contact-container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .contact__headline {
    font-size: 37px;
  }
  .contact-container {
    flex-direction: column;
  }
  .contact-card {
    margin: 12px 0;
    max-width: 100%;
  }
  }
.contact-card {
  padding: 36px 48px;
  background: white;
  box-shadow: 4px 4px 30px #00000066;
  width: 400px;
  height: 300px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-weight: 400;
}
.contact-card__button {
  padding: 12px 24px;
  background: #005E93dd;
  box-shadow: 4px 4px 20px #00000077;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  width: 200px;
}
.contact-card__button a {
  color: white;
}
