footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 12px;
  background: #222;
  color: white;
  line-height: 1.5em;
}
.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1000px;
}
.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 400px;
}
.footer-links__title {
  font-size: 1em;
  font-weight: 500;
}
footer a {
  color: #aaa;
  transition: color 140ms ease-in-out
}
footer li:hover a, .footer-legal__brand:hover {
  color: white;
}
.footer-legal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #777;
}
.footer-legal__brand {
  color: #aaa;
}
.footer__location {
  font-size: 1.1em;
  color: #777;
  margin-top: 34px;
}
@media screen and (max-width: 900px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
  .footer-links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: unset;
  }
  .footer-links__title {
    margin: 12px 0;
  }
  .footer-legal {
    margin-top: 24px;
  }
  .footer__location {
    margin-top: 24px;
    text-align: center;
  }
}
