nav {
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 70px;
  padding: 0 24px;
  background: #00000055;
}
.nav__link {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  font-weight: 700;
  margin: 0px 20px;
  transition: border-bottom-color 140ms ease-in-out;
  padding-bottom: 4px;
  border-bottom: solid 3px transparent;
}
.nav__link:hover {
  border-bottom-color: white;
}
nav a {
  color: white;
}
@media screen and (max-width: 600px) {
  nav {
    justify-content: space-between;
    padding: 0 12px;
  }
  .nav__link {
    margin: 0px 0px;
    font-size: 1em;
  }
}
